footer {
  color: var(--text);
  .alert {
    background-color: var(--alert);
    color: var(--text);
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    gap: 0.4em;
    .an {
      animation: ping 1s infinite both !important;
    }
  }
  .info {
    padding: 2em var(--padding-x);
    font-size: 0.8em;
    text-align: justify;
  }
  .contact {
    padding: 2em var(--padding-x);
    .right {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 0.8em;
      h1 {
        font-weight: 700;
        font-size: 1.3em;
      }
      a {
        color: var(--link);
      }
      p {
        margin: 0.3em 0;
      }
      .text {
        text-align: justify;
      }
    }
    #copy {
      font-size: 10px;
    }
  }
}
@keyframes ping {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
