---
import Girl from '../icons/Girl.astro';
---

<footer class="mt-8 text-sm">
  <p>
    <strong>Keahlian saya</strong> - Saya memiliki keahlian di berbagai bidang termasuk penggunaan Microsoft Excel untuk
    analisis data yang akurat, pengolahan dokumen dengan Microsoft Word, serta pengembangan antarmuka web (front-end web
    development) dengan penekanan pada desain yang menarik dan responsif. Selain itu, saya memiliki pengetahuan dasar dalam
    pengembangan aplikasi dengan Python dan keterampilan dasar dalam pengembangan backend. Saya juga sangat disiplin waktu,
    memastikan bahwa pekerjaan saya diselesaikan tepat waktu dan dengan kualitas yang baik.
  </p>
  <div class="mt-8 grid sm:grid-cols-2">
    <div
      class=""
      id="girl-icon-container"
    >
      <Girl />
    </div>
    <div class="flex flex-col justify-center gap-4 text-sm">
      <h2 class="text-xl font-bold">Temukan Kreativitas Bersama Saya!</h2>
      <ul>
        <li>
          Surel: <a
            href="mailto:kontak@dairew.my.id"
            class="text-blue-500"
            >kontak@dairew.my.id</a
          >
        </li>
        <li>
          Telegram: <a
            href="https://t.me/modionc"
            class="text-blue-500"
            >@mogionc</a
          >
        </li>
      </ul>
      <p>
        Jangan ragu untuk mengirimkan ide-ide kreatif, pertanyaan, atau sekadar menyapa! Saya percaya bahwa kolaborasi
        membawa inspirasi baru. Ayo jadikan ide-ide Anda menjadi kenyataan bersama Saya
      </p>

      <span>Copyright © 2023 - <span id="year"></span> dai. All rights reserved.</span>
    </div>
  </div>
</footer>
<script is:inline>
  const date = new Date();
  document.getElementById('year').innerHTML = date.getFullYear();
</script>
