<div class="grid grid-cols-1 gap-4 text-sm sm:grid-cols-2 sm:text-justify md:grid-cols-3">
  <p>
    Saya adalah seorang junior web developer yang telah jatuh cinta pada kompleksitas dan kreativitas dunia digital.
    Dalam peran saya, saya merasa sebagai seorang seniman modern, menghubungkan kode-kode untuk menciptakan pengalaman
    web yang memukau. Selain itu, saya adalah seorang fotografer yang selalu berusaha untuk menangkap keindahan dalam
    setiap sudut kehidupan. Kamera saya adalah teman setia, membantu saya mengekspresikan diri melalui bidikan-bidikan
    visual yang menceritakan kisah.
  </p>
  <p>
    Di sela-sela dunia digital dan seni visual, saya adalah seorang pecinta kucing yang penuh kasih sayang. Kehadiran
    mereka dalam hidup saya membawa kebahagiaan dan ketenangan. Saya juga memiliki hasrat besar dalam menjelajahi dunia
    kuliner, dengan selera makan yang sangat beragam. Makanan adalah salah satu cara saya untuk merayakan kehidupan.
  </p>
  <p>
    Tetapi, seperti setiap koin memiliki dua sisi, saya juga terkadang terjebak dalam overthinking. Pikiran saya
    cenderung merenung terlalu dalam, menganalisis segala hal dengan detail yang berlebihan. Namun, saya percaya bahwa
    hal ini juga menjadi sumber inspirasi dan pemahaman yang dalam terhadap dunia di sekitar saya.
  </p>
</div>
